<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Fretboard" phx-no-format>{assigns[:page_title]}</.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
    <footer class="site-footer">
      <p>
        Copyright &copy; 2025
        <a href="https://github.com/Ironjanowar" target="_blank" rel="noopener noreferrer">C&eacute;sar Guzm&aacute;n Alp&iacute;zar (Ironjanowar)</a>
        &amp;
        <a href="https://github.com/gramosg" target="_blank" rel="noopener noreferrer">Guillermo Ramos Guti&eacute;rrez (gramosg)</a>
      </p>
      <a
        href="https://github.com/Ironjanowar/fretboard/blob/main/LICENSE"
        target="_blank"
        rel="noopener noreferrer"
      >
        View License
      </a>
    </footer>
  </body>
</html>
